* {
  box-sizing: border-box;
}

body {
  /*
Colors used:
Primary Color (Crimson):#F67762;
Secondary Color (Teal):#00CD91;
Background Color (Purple): #2F2F43;
Background Color (Grey): #F7F8FA;
*/
  background-color: #fff;
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
}

p {
  font-size: 1.15em;
  font-weight: 300;
}

img {
  width: 100%;
}

.img-position {
  width: 100%;
  max-height: 300px;
  max-width: 300px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover,
a:focus {
  color: #00cd91;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  margin: 0 15px;
  font-weight: 400;
  text-decoration: none;
  color: #fff !important;
}

nav > ul > li > a:visited {
  color: #fff;
}

nav > ul > li > a:hover {
  color: #fff;
  border-bottom: 3px solid #00cd91;
}

nav a.active {
  color: #fff;
  border-bottom: 3px solid #00cd91;
}

nav > ul > li > a:active {
  color: #fff;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*
.hopeful .analysis a, a:visited {
  color: #424242;
  text-decoration: underline;
}

.hopeful .analysis a:hover, a:focus {
  color: #00CD91;
  text-decoration: underline;
}

*/

.button.contact {
  background-color: transparent;
  color: #fff !important;
  border: 2px solid #f67762;
}

.button.contact:hover {
  color: #353535 !important;
  background-color: #f67762;
}

.button {
  display: inline-block;
  border: 2px solid #f67762;
  color: #424242 !important;
  font-weight: 400;
  padding: 10px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  background-color: #f67762;
  color: #353535 !important;
}

.button-hero {
  display: inline-block;
  margin-top: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #f67762;
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
}

.button-hero:hover {
  color: #353535;
  background-color: #f67762;
  text-decoration: none;
}

header {
  background-color: #2f2f43;
  padding: 10px 0;
  margin: 0;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  display: inline-block;
  width: 100%;
}

.container {
  padding: 0 25px;
}

.row {
  padding: 0 0 45px;
}

.row2 .col-6 {
  margin: 0 auto;
  float: none;
}

#work .col-6 {
  margin-bottom: 3em;
}

#hero h1 {
  text-align: center;  /* centers text */
  color: #fff;
  line-height: 1.8;
}

#hero span.color {
  color: #00cd91;
  display: unset;
}

.logo {
  max-width: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 15px;
}

#hero {
  background-image: url(../img/background-color.png);
  margin: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 75px 0;
}

#hero span {
  display: block;
}

main {
  padding-top: 51px;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.social-media li {
  float: left;
  margin: 10px 20px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

#about-page h1 {
  padding-top: 10px;
  display: none;
}

.about-list {
  padding: 0;
  list-style-position: inside;
}

.center {
  text-align: center;
}

.center picture img {
  padding: 70px;
}

.white {
  background-color: #fff;
  padding: 30px 0;
}

.grey {
  background-color: #f7f8fa;
  padding: 30px 0;
}

footer {
  text-align: center;
  background-color: #2f2f43;
  padding: 20px;
  color: white;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ================================
Medium devices (640px and larger)
=================================== */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 28px 55px;
  }

  .navtoggle li:not(:last-child) { display: inline-block; }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul > li {
    display: inline-block;
  }

  .logo {
    min-width: 250px;
  }

  .navtoggle .logo {
    padding-top: 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  main {
    padding-top: 72px;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  header .container::after {
    content: "";
    clear: both;
    display: table;
  }

  nav ul {
    margin: 0;
  }

  [class*="col-"] {
    padding: 15px 38px;
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-page .col-6 {
    padding-left: 0;
  }

  .about .bullets {
    padding: 15px 3px;
  }

  #hero {
    padding: 140px 0;
  }

  #work h2 {
    margin-left: 40px;
  }

  .relevant-skills {
    padding-left: 0;
  }

  .hopeful p,
  .intro .white,
  .hopeful ul {
    margin: auto;
    max-width: 750px;
  }

  .hopeful h2,
  .hopeful h3 {
    margin: 1em auto;
    max-width: 750px;
  }

  .hopeful img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
#work {
  padding-top: 60px;
}

@media only screen and (min-width: 1024px) {
  .col-6 {
    width: 50%;
  }

  .intro p {
    margin: 7em auto;
    max-width: 750px;
  }

  .row-max-width {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
