*{
  box-sizing: border-box;
}
body  {
/*
Colors used:
Primary Color (Crimson):#F67762;
Secondary Color (Teal):#00CD91;
Background Color (Purple): #2F2F43;
*/
background-color: #FFFFFF;
font-family: 'Avenir Next', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.6;
color: #4a4a4a;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.50em;
  font-weight: 400;
}
h2 {
  font-size: 1.75em;
  font-weight:700;
}
h3 {
  font-size: 1.25em;
  font-weight: 600;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
}
p {
  font-size: 1.25 em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #FFFFFF;
  text-decoration: none; /* No underlying */
}
a:visited {
   color: #FFFFFF;/* visited link */
}
a:hover {
  color: #FFFFFF;
  text-decoration: underline #00CD91 3px; /*underlining when hovering over a link */
}
a:active {
  color: #FFFFFF;/* active link */
  text-decoration: underline #00CD91 3px;
}
nav a.active{
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: underline #00CD91 3px;
}
.button.contact{
  background-color: transparent;
  color: #ffffff !important;
  border: 2px solid #F67762;
}
.button.contact:hover{
  color: #ffffff !important;
  background-color: #F67762;
}
.button{
  display: inline-block;
  border: 2px solid #F67762;
  color: #424242 !important;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  transition: 0.2s opacity;
  border-radius: 40px;
}
.button:hover {
  text-decoration: none;
  background-color: #F67762;
  color: white !important;
}
.button-hero{
  display: inline-block;
  margin-top: 25px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #F67762;
  border-radius: 40px;
  padding: 10px;
  font-weight: 400;
}
.button-hero:hover{
  color: #ffffff;
  background-color: #F67762;
  text-decoration: none;
}
header {
  background-color: #2F2F43;
  padding: 0px 0;
  margin: 0 0;
  text-align: center;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  box-shadow:0px 6px 15px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  display: inline-block;
  width: 100%;
}
/* layout styling */
.container{
    padding: 0 25px;
}
.row{
  padding: 45px 0;/* 25px top and bottom but 0 left to right */
}
#work .row{
  padding-bottom: 45px;
}
#hero h1{
  text-align: center; /* centers text */
  color: #FFFFFF;
}
.logo {
  max-width: 250px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul >li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  font-weight: 400;
  color: #FFFFFF;
}
nav > ul > li > a:visited {
  padding: 0 10px;
  text-transform: lower;
  font-weight: 400;
  color: #FFFFFF;
}
nav > ul > li > a:hover {
  padding: 0 10px;
  font-weight: 400;
  color: #FFFFFF;
}
nav > ul > li > a:active {
  padding: 0 10px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: underline #00CD91 3px;
}
nav {
  display: inline-block;
  width: 100%;
}
#hero {
  background-color: #2F2F43;
  margin: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 75px 0;
}
#hero span{
  display: block;
}
main {
  padding-top: 72px;
}
.social-media ul{
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
.social-media li{
  float: left;
  margin: 10px 20px;
}
footer {
  text-align: center;
  background-color: #2F2F43;
  padding: 20px;
  color: white;
}
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun{
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate (0,50px);}
  to {transform: translate (200px, 50px);}
}
.cloud-front{
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate (446px, 48px);}
  to {transform: translate (100px, 48px);}
}
.cloud-back{
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ================================
Medium devices (640px and larger)
=================================== */
@media only screen and (min-width:640px) {
  header {
    text-align: unset;
    padding: 20px 0;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }
  main {
    padding-top: 72px;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  header .container:after{
    content: "";
    clear: both;
    display: table;
  }
  nav ul{
    margin: 0;
  }
  .col-lg-5{
    width: 100%;
  }
  .col-lg-7 {
    width: 100%;
  }
  [class*="col-"]{
    padding: 0 75px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 {
    margin-top: 0;
  }
  #hero {
      padding: 140px 0;
  }
  #work h2{
    margin-left: 100px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5{
    width: 100%;
  }
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
